# OS Junk
.DS_Store
.DS_Store*
Thumbs.db

# Maven
target/
/target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/
.kotlin/

# VS Code
.vscode/

# Eclipse & NetBeans
.project
.classpath
.settings/
.apt_generated
.factorypath
/nbproject/private/
build/

# Logs
*.log
logs/

# Sensitive Data
.env
*.properties
!src/main/resources/log4j2.properties

# hibernate
/src/main/resources/hibernate.cfg.xml